<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .container {min-width: 300px; max-width: 500px; margin: 0 auto;}
        .title {margin-bottom: 30px;}
        .sub-title {text-align: left;}

        textarea {resize: none; overflow: scroll;}
    </style>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#submitBtn').click(function() {
                var url = $('#url').val();
                var type = $('#type').val();
                var unitBundle = $('#unitBundle').val();


                $.ajax({
                    url : "/parse",
                    type : "post",
                    contentType: "application/json",
                    data : JSON.stringify({'url': url, 'type': type, 'unitBundle': unitBundle}),
                    success : function(data) {
                        $('#quotient').val(data.quotient);
                        $('#rest').val(data.rest);
                    },
                    error : function name(){
                        alert("서버에러");
                    }
                });
            });
        });

    </script>

</head>

<body>

<div class="container">
    <h1 class="title">위메프 과제</h1>
    <form class="form-horizontal" id="mainForm">
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" id="url" placeholder="url">
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">TYPE</label>
            <div class="col-sm-10">
                <select class="form-control" id="type" >
                    <option value="exceptTag">html 태그 제외</option>
                    <option value="text">text만</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="unitBundle" class="col-sm-2 control-label">출력묶음</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="unitBundle" min="1">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="submitBtn">제출</button>
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="quotient" class="col-sm-2 control-label">몫</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="quotient"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="rest" class="col-sm-2 control-label">나머지</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="rest"></textarea>
            </div>
        </div>
    </form>
</div>

</body>
</html>
